<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <%= render('cart') if enhanced_cart[0] %>

  <%= render('empty') if !enhanced_cart[0] %>



  

</section>
